@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0;
  font-family:Roboto, Arial, sans-serif;
  box-sizing: border-box;
}

#calculadora{
  text-align: center;
}

#calculadora table {
  background-color: #CFD8DC; 
  border: 0.0625rem double black;
  font-size: 1.5625rem;
}

#calculadora td input {
  width: 2.5rem;
  height: 2.5rem;
}

#calculadora td input:hover {
  color: #fff;
  background-color: #546E7A;
}

#calculadora td input#tela {
  text-align: right;
  width: 100%;
}

#calculadora td input#tela:hover {
  color: #000;
  background-color: #fff;
}
